.HTMLTextLoaderWrapper {
	width: 100%;
	overflow-x: auto;
	background-color: @grey-090;
}

.HTMLTextHeaderWrapper, .HTMLTextFooterWrapper {
	padding: @spacing-02 @spacing-03;
	border-left: 30px solid @grey-080;
	min-height: @spacing-04;

	position: sticky;
	left: 0;
	top: 0;
	width: 100%;
	
	span {
		color: @grey-050;
		line-height: @font-size-xxl;
	}
}

.HTMLTextLoader {
	color: @white;

	.Line {
		line-height: @font-size-xxl;
		display: flex;
		flex-direction: row;
		margin: 0;
		color: @grey-030;

		&:hover {
			background-color: @grey-070;
		}

		&.hide {
			display: none;
		}

		&.expanded:hover > .Line-Control:after {
			content: "\f0da";
		}

		&.collasped {
			background-color: @grey-070;
			border-bottom: 1px solid @info-030;

			& > .Line-Control:after {
				content: "\f0d7";
			}
		}

		&.expandible > .Line-Control {
			cursor: pointer;
		}

		.Line-Index {
			min-width: @spacing-07;
			text-align: center;
			background-color: @grey-080;

			position: sticky;
			left: 0;
			z-index: 5;

			// make the index unselectable
			-moz-user-select: -moz-none;
			-khtml-user-select: none;
			-webkit-user-select: none;
			-o-user-select: none;
			user-select: none;
		}

		.Line-Control {
			min-width: @spacing-06;
			text-align: center;
		}

		.Line-Code {
			.HTMLTag {
				font-style: normal;
				color: @primary-050;
			}

			.HTMLAttribute {
				font-style: normal;
				color: @success-040;
			}

			.HTMLStatue {
				font-style: normal;
				color: @danger-050;
			}

			.HTMLComment {
				font-style: normal;
				color: @grey-060;
			}

			.spacer {
				margin-right: @spacing-02;
			}
		}
	}
}